body {
    background: #FFE4E4;
;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.logo-bolo {
    width: 70.44px;
    height: 88.28px;
    top: 12px;
    left: 46px;
    gap: 0px;
    border: 4px 0px 0px 0px;
    opacity: 0px;
}

.logo-bloco {
    width: 60.04px;
    height: 69.12px;
    top: 27.44px;
    left: 1182.48px;
    gap: 0px;
    opacity: 0px;

}
.headerlogin {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 20px;
    width: 1440px;
    height: 129px;
    border-left: 1px;
    gap: 0px;
    opacity: 0px;
}

.teste1 {
    width: 272px;
    height: 93px;
    top: 25px;
    left: 130px;
    gap: 0px;
    opacity: 0px;
    font-family: Ingrid Darling;
    font-size: 64px;
    font-weight: 400;
    line-height: 79.36px;
    text-align: left;
    color: #8F0016;
    display: flex;
}

.teste2 {
    width: 101px;
    height: 24px;
    top: 52px;
    left: 1263px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    display: flex;
    color: #8F0016;
}


.linha-cima {
    width: 1440.01px;
    height: 0px;
    top: -379.49px;
    left: 760px;
    gap: 0px;
    border: 3px;
    opacity: 0px;
    border: 3px solid #8F0016 
}
